
* {

    margin: 0;
}

body {
    width: 1280px;
    background-color: black;
}


h1 {
    font-family: 'Climate Crisis', cursive;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;

}

div a {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-style: bold;
}

div a:hover {
    color: brown;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
    
}

.centered h1 {
    font-family: 'Imbue', serif;
    font-size: 120px;
    font-weight: 700;
}

.centered{
    width:778px;
    height:124px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
}
.ticket_button {
    position:absolute;
    top:75%;
    left:55%;
    transform: translate(-75%, -55%);
    
}

.ticket_button button {
    background-color: red;
    width:287px;
    height:73px;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight:600;
    color:white;
}

.slogan{
    width:1280px;
    height:47px;
}

.intro1 {
    background-color: #06065B;
    width:1280px;
    height:500px;
    display: flex;
    justify-content: space-around;
}

.intro1 h2 {
    color:white;
    font-size:30px;
    font-weight: 700;
    font-family:'Inter', sans-serif;
    text-align: center;
    line-height:70px;
    width:334px;
    height:493px;
}

.intro2 {
    background-color: #630202;
    width:1280px;
    height: 567px;
    display: flex;
    justify-content: space-around;
}

.intro2 h2{
    color: white;
    font-size:30px;
    font-weight:700;
    font-family: 'Inter', sans-serif;
    text-align:center;
    line-height:70px;
    width:343px;
    height:541px;
}

.intro4 {
    background-color: #561F72;
    width:1280px;
    height: 181px;
}

.intro4 h2 {
    color: white;
    font-size:50px;
    font-weight:700;
    font-family: 'Inter', sans-serif;
    text-align:center;
    line-height:70px;
    width:1280px;
    height:181px;
}

.lineup1 {
    background-color: white;
    width:1280px;
    height:137px;
}

.lineup1 h1 {
    color:black;
    font-size:120px;
    font-family:'Imbue', serif;
    font-weight: 800;
    line-height: 144px;
    text-align: center;
}

.lineup2 {
    position: relative;
    text-align: center;
    color: white;
}

.text {
    width:1122.97px;
    height:900px;
    position: absolute;
    top:194px;
    left:154px;
}

.text h2 {
    color:white;
    font-size:140px;
    font-family:'Imbue', serif;
    line-height:168px;
    text-align: left;
}

.location {
    position: relative;
    text-align: center;
    color: white;
}

.top {
    position: absolute;
    top: 60px;
    left: 253px;
    
}

.top h1 {
    width:773px;
    height:118px;
    color:white;
    font-size:120px;
    font-family:'Imbue', serif;
    text-align: center;
    line-height:144px;
}

.top2 {
    position: absolute;
    top:247px;
    left: 443px;
   
}

.top2 h1 {
    width:391px;
    height:141px;
    color:white;
    font-size:120px;
    font-family:'Imbue', serif;
    text-align: center;
    line-height: 144px;;
}

.brisbane {
    position:absolute;
    top:473px;
    left: 305px;
    
}

.brisbane p {
    width:670px;
    height:251px;
    color:white;
    font-size:70px;
    font-family:'Imbue', serif;
    text-align:left;
    line-height:84px;
}

.sydney {
    position:absolute;
    top:780px;
    left:305px;
}

.sydney p {
    width:654px;
    height:250px;
    color:white;
    font-size:70px;
    font-family:'Imbue', serif;
    text-align:left;
    line-height:84px;
}

.melbourne {
    position:absolute;
    top:1115px;
    left:296px;
}

.melbourne p {
    width:647px;
    height:258px;
    color:white;
    font-size:70px;
    font-family:'Imbue', serif;
    text-align:left;
    line-height:84px;
}

.ticket_info {
    width:1280px;
    height:151px;
    background-color:white;
}

.ticket_info h1 {
    color:black;
    font-size:120px;
    line-height: 144px;
    font-family:'Imbue', serif;
    text-align:center;
}

.ticket1 {
    position: relative;
    text-align: center;
}

.ticket1_1 {
    position:absolute;
    width:1138px;
    height:207px;
    top:53px;
    left:72px;
}

.ticket1_1 p {
    color:white;
    font-family:'Imbue', serif;
    font-size:80px;
    line-height: 96px;
}

.rectangle {
    position:absolute;
    width:1026px;
    height:1200px;
    border:1px solid rgba(255, 255, 255, 0.37);
    top:253px;
    left:126px;
    border-radius: 45px;
    background-color: rgba(255, 255, 255, 0.37);
}

.rectangle1 {
    position:absolute;
    width:855px;
    height:107px;
    top:55px;
    left:82px;
}

.rectangle1 p {
    color:black;
    font-size:80px;
    font-family:'Imbue', serif;
    font-weight:700;
    line-height:96px;
    text-align:center;
}

.rectangle2 {
    position:absolute;
    width:382px;
    height:124px;
    top:206px;
    left:316px;
}

.rectangle2 button {
    background-color: rgba(255, 0, 0, 0.58);
    font-size:80px;
    font-family:'Imbue', serif;
    color:white;
    line-height:96px;
    font-weight: 800;
}

.rectangle3 {
    position:absolute;
    width:855px;
    height:107px;
    top:395px;
    left:79px;
}

.rectangle3 p {
    color:black;
    font-size:80px;
    font-family:'Imbue', serif;
    font-weight:700;
    line-height:96px;
    text-align:center;
}

.rectangle4 {
    position:absolute;
    width:382px;
    height:124px;
    top: 567px;
    left:316px;
}

.rectangle4 button {
    background-color: rgba(255, 0, 0, 0.58);
    font-size:80px;
    font-family:'Imbue', serif;
    color:white;
    line-height:96px;
    font-weight: 800;
}

.rectangle5 {
    position:absolute;
    width:855px;
    height:107px;
    top:770px;
    left:79px;
}

.rectangle5 p {
    color:black;
    font-size:80px;
    font-family:'Imbue', serif;
    font-weight:700;
    line-height:96px;
    text-align:center;
}

.rectangle6 {
    position:absolute;
    width:382px;
    height:124px;
    top: 921px;
    left:316px;
}

.rectangle6 button {
    background-color: rgba(255, 0, 0, 0.58);
    font-size:80px;
    font-family:'Imbue', serif;
    color:white;
    line-height:96px;
    font-weight: 800;
}

.rectangle7 {
    position:absolute;
    width:888px;
    height:46px;
    top:1120px;
    left:63px;
}

.rectangle7 p {
    color:black;
    font-family:'Imbue', serif;
    font-size:30px;
    line-height:36px;
    font-weight:700;
    text-align:center;
}

.moodboard {
    width:1280px;
    height:158px;
    background-color: white;
}

.moodboard h1 {
    color:black;
    font-size:120px;
    font-family:'Imbue', serif;
    font-weight:700;
    line-height: 144px;
    text-align:center;
}